<div class="container">
    <button href="/query1" type="button" class="btn btn-primary">Query 1</button>
    <button href="" type="button" class="btn btn-primary">Query 2</button>
    <button href="" type="button" class="btn btn-primary">Query 3</button>
    <button href="" type="button" class="btn btn-primary">Query 4</button>
    <button href="" type="button" class="btn btn-primary">Query 5</button>
    <button href="" type="button" class="btn btn-primary">Query 6</button>
    <button href="" type="button" class="btn btn-primary">Query 7</button>
    <button href="" type="button" class="btn btn-primary">Query 8</button>
    <button href="" type="button" class="btn btn-primary">Query 9</button>
    <button href="" type="button" class="btn btn-primary">Query 10</button>
    <button href="" type="button" class="btn btn-primary">Query 11</button>
</div>