{{#each data}}

<div class="card">
    <a>{{this.title}}</a>
    <br />
    <a>{{this.isbn}}</a>
    <br />
    <a>{{this.date_published}}</a>
    <br />
    <a>{{this.pages}}</a>
    <br />
</div>

{{/each}}