<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{unique}} Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{#each render_css_files}}
    <link rel="stylesheet" type="text/css" href="/css/{{this}}.css" />
    {{/each}}

    {{#each render_js_files}}
    <script defer type=" text/javascript" src="/js/{{this}}.js""></script>
    {{/each}}
{{!--  --}}
</head>