<link rel="stylesheet" type="text/css" href="/css/nav.css" />

<div id="nav">
    <a href="/"><img id="logo" height="60" src="../../assets/book.png"></a>
    <a href="/about" class="right">About </a>
    <a href="/" class="right">Home</a>
</div>
